body {
  background: #999;
  font-family: "Roboto", sans-serif;
  color:#fff;
  margin:0;
  padding:0;
}

#wrapper {
  width:80%;
  margin: 0 auto;
}

#header {
  padding: 20px;
  background: green;
}

#content {

}

#footer {
  background: green;
  padding: 20px;
}
h1 {
  text-align: center;
}

li {
  line-height: 2;
}
a {
  color:#fff;
  margin-right:30px;
}
a:hover {
  color:yellow
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}


//Форма добавления сообщений

.wrapper {
  max-width: 600px;
  margin: auto;
}

.forms fieldset {
  padding: 1em 1em;
  margin: 1em 0;
}
.forms legend {
  padding: 0;
  font-weight: bold;
  font-size: 1.2em;
}
.forms label {
  display: block;
  margin: 1em 0;
}
.forms label textarea, .forms label select, .forms label input[type="text"], .forms label input[type="email"], .forms label input[type="search"], .forms label input[type="tel"], .forms label input[type="url"], .forms label input[type="password"], .forms label input[type="color"], .forms label input[type="file"], .forms label input[type="color"], .forms label input[type="number"], .forms label input[type="range"], .forms label input[type="date"], .forms label input[type="month"], .forms label input[type="week"], .forms label input[type="time"], .forms label input[type="datetime"], .forms label input[type="datetime-local"] {
  display: block;
  width: 100%;
}
.forms textarea, .forms select, .forms input[type="text"], .forms input[type="email"], .forms input[type="search"], .forms input[type="tel"], .forms input[type="url"], .forms input[type="password"], .forms input[type="color"], .forms input[type="file"], .forms input[type="color"], .forms input[type="number"], .forms input[type="range"], .forms input[type="date"], .forms input[type="month"], .forms input[type="week"], .forms input[type="time"], .forms input[type="datetime"], .forms input[type="datetime-local"] {
  margin: .2em 0;
  padding: .25em .4em;
  border: 1px solid #ddd;
  max-width: 100%;
}
.forms input[type="search"] {
  box-sizing: border-box;
}
.forms input[type="file"] {
  border-width: 0;
  padding: 0;
}
.forms input[type="image"] {
  vertical-align: bottom;
}
